/*
 * Power menu
 *
 * Dedicated Rofi layout for system power actions.
 * Colors will later be shared with the rest of the rice.
 */

configuration {
    show-icons: false;
}

window {
    location: center;
    anchor: center;

    width: 300px;

    padding: 12px;
    border: 1px;
    border-radius: 12px;
}

mainbox {
    children: [ listview ];
}

listview {
    lines: 3;
    columns: 1;

    fixed-height: true;
    spacing: 6px;
}

element {
    padding: 12px;
    border-radius: 8px;
}

element-text {
    horizontal-align: 0.5;
    vertical-align: 0.5;
}